@import "ldrs/react/Ring.css";
@import "./Tabs.css";
@import "./Header.css";

html {
    background-color: #242424;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: left;
}

body {
  text-align: left;
}

.job-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.job-option {
  padding-block: 0.35rem;
  padding-inline: 0.5rem;
}

.stretch-left {
  margin-left: -10px;
  padding-left: 10px;
}
.stretch-right {
  margin-right: -10px;
  padding-right: 10px;
}

.filter-container {
  display: flex;  
  flex-direction: column;
	justify-content: end;
}




.filter-group {
  display: flex;
  align-items: end;
  align-content: end;
}

.filter-group label {
  flex: 0 0 auto;
  margin-right: 10px;
}

.filter-group input {
  flex: 1 1 auto;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  align-content: end;
  justify-content: end;
  padding: 0.5rem;
}

.even {
  background-color: black;
}

.odd {
  background-color: #242424;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

.load-more {
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 1rem;
  padding: 1rem;
}

.right-loading {
  position: absolute;
  padding-left: 0.5rem;
}

.recent-tag {
  font-size: 0.7rem;
  background-color: rgb(128, 128, 128);
  color: black;
  border-radius: 20px;
  padding: 0.1rem;
  vertical-align: center;
  margin-left: 1rem;
  display: inline-block;
}

.salary-tag {
  background-color: rgb(140,255,  140 );
}

.recent-today {
  background-color: rgb(255, 255, 255);
}
.recent-week {
  background-color: rgb(212, 212, 212);
}
.recent-month {
  background-color: rgb(169, 169, 169);
}

.help-tip {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  background-color: black;
}

.DialogOverlay {
  background-color: #24242480;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: black;
  border-radius: 6px;
  box-shadow: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 750px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  overflow-y: auto;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


.ArticleColumn {
	max-width: calc(54rem);
  padding-inline: 1rem;
}
