:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme:  dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: left;
}

body {
  text-align: left;
}

.job-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.even {
  background-color: #242424;
}

.odd {
  background-color: black;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 1rem;
}